.papp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Use 100vh for full viewport height */
    padding: 20px; /* Adjust padding as needed */
  }
  

  
  /* Add any additional styles as needed for your Login component */
  